html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

.blk {
  color: #000;
}

.bb {
  border-bottom: 1px solid #8bc9d9;
}

li {
  text-decoration: none;
}

.ib {
  text-decoration: none;
}

.list-group-inline {
  text-decoration: none;
}

.nv {
  text-decoration: none;
  color: #005e76;
}

a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #8bc9d9;
}

.borderbottom {
  border-bottom: 1px solid #e2e2e2;
}

.bordertop {
  border-top: 1px solid #e2e2e2;
}

/* .grey {
  color: #0084a6;
} */

.btn-ghost {
  border-color: #8bc9d9;
  color: #005e76;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
  color: #005e76;
}

@media only screen and (min-width: 60em) {

  .title {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .squish {
    width: 50%;
    text-align: center;
  }

}

@media only screen and (min-width: 90em) {

  .title {
    text-align: center;
  }

  .nav {
    text-align: center;
  }

}
