html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

.ja {
  font-family: "Noto Sans Japanese", sans-serif;
}

.en {
  font-family: "Noto Sans", sans-serif;
}

.bb {
  border-bottom: 1px solid #8bc9d9;
}

.nv {
  text-decoration: none;
  color: #8bc9d9;
}

li a:hover {
  color: #005e76;
}

.border {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.bordertop {
  border-top: 1px solid #e2e2e2;
}

.grey {
  color: #e2e2e2;
}

.btn-ghost {
  border-color: #8bc9d9;
  color: #005e76;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
  color: #005e76;
}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {

}
